
git add .gitignore

git add backend/TecnoAMF/manage.py
git add backend/TecnoAMF/core/
git add backend/TecnoAMF/api/
git add backend/TecnoAMF/users/
git add backend/TecnoAMF/videos/
git add backend/TecnoAMF/requirements.txt  # Se tiver

git add frontend/appTecnoAMF/
git add frontend/package-lock.json

git add README.md